@import '../fonts/stylesheet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
      font-family: "Montserrat", system-ui, sans-serif;
      letter-spacing: 0.03rem;
    }
    b {
        font-weight: 700;
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #461d52;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #461d52 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.page-doc p {
    margin-bottom: 1.5rem;
    text-align: justify;
    font-size: 18px;
}
.page-doc a {
    color: blue;
    text-decoration: underline;
}
.page-doc h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1.5rem;
}
.page-doc h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 1.5rem;
    text-decoration: underline;

}
.page-doc ul {
    list-style: disc;
    padding-left: 2rem;
    margin-bottom: 20px;
}
.page-doc ul li {
    margin-bottom: 0.5rem;
    font-size: 18px;
}
.list-maquininhas {
    font-size: 1rem;
    color: rgb(122 55 138);
    letter-spacing: -0.025rem;
    font-family: 'Montserrat';
    overflow: hidden;
    transition: all 0.3s;
}
.list-maquininhas ol {
    list-style-type: decimal;
    padding-left: 1.2rem;
}
.list-maquininhas ol ol {
    list-style: lower-alpha;
}
.list-maquininhas li {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.list-maquininhas li:first-of-type {
    padding-top: 1rem;
}
    /*blog*/
    /*styles for article and .note-editable*/
    article, .note-editable {
        @apply text-base;
        @apply text-justify;
    }
    /*h1*/
    article h1, .note-editable h1 {
        @apply text-3xl font-bold;
    }
    article h2, .note-editable h2 {
        @apply text-2xl font-bold;
    }

    article h3, .note-editable h3 {
        @apply text-xl font-bold;
    }

    article h4, .note-editable h4 {
        @apply text-lg font-bold;
    }

    article h5, .note-editable h5 {
        @apply text-base font-bold;
    }

    article h6, .note-editable h6 {
        @apply text-base font-bold;
    }

    article p, .note-editable p {
        @apply text-base;
        @apply text-justify;
        @apply mb-4;
    }

    article span, .note-editable span {
        @apply text-base;
    }

    article small, .note-editable small {
        @apply text-sm;
    }

    article a, .note-editable a {
        @apply text-passou-cyan font-medium;
        @apply hover:text-passou-magenta-700 underline;
    }

    article pre, .note-editable pre {
        @apply text-base;
        @apply bg-gray-100;
        @apply p-4;
        @apply rounded-lg;
        @apply overflow-x-auto;
    }

    article code, .note-editable code {
        @apply text-base;
        @apply bg-gray-100;
        @apply p-1;
        @apply rounded-lg;
    }

    article blockquote, .note-editable blockquote {
        @apply text-base;
        @apply bg-gray-100;
        @apply p-4;
        @apply rounded-lg;
        @apply border-l-4 border-passou-cyan;
    }
