@import '../fonts/stylesheet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
      font-family: "Montserrat", system-ui, sans-serif;
      letter-spacing: 0.03rem;
    }
    b {
        font-weight: 700;
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #461d52;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #461d52 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.page-doc p {
    margin-bottom: 1.5rem;
    text-align: justify;
    font-size: 18px;
}
.page-doc a {
    color: blue;
    text-decoration: underline;
}
.page-doc h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1.5rem;
}
.page-doc h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 1.5rem;
    text-decoration: underline;

}
.page-doc ul {
    list-style: disc;
    padding-left: 2rem;
    margin-bottom: 20px;
}
.page-doc ul li {
    margin-bottom: 0.5rem;
    font-size: 18px;
}
.list-maquininhas {
    font-size: 1rem;
    color: rgb(122 55 138);
    letter-spacing: -0.025rem;
    font-family: 'Montserrat';
    overflow: hidden;
    transition: all 0.3s;
}
.list-maquininhas ol {
    list-style-type: decimal;
    padding-left: 1.2rem;
}
.list-maquininhas ol ol {
    list-style: lower-alpha;
}
.list-maquininhas li {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.list-maquininhas li:first-of-type {
    padding-top: 1rem;
}
/**/
